[Desktop Entry]
Type=Application
Version=1.0
Name=Caracal Software Installer
GenericName=Audio Software Installer
Comment=Browse and install optional DAWs, plugins, and audio tools
Exec= alacritty -e caracal-software-installer
Icon=caracal-logo-icon
Terminal=true
StartupNotify=true
Categories=AudioVideo;Audio;System;
Keywords=caracal;audio;installer;plugins;daw;
